<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JJ's Blog - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./home.css">
    </head>
    <body>
        <div class="header">
            <h1>JJ's Blog</h1>
            <div class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>

        <article>
            <div id="blog-column">
                <div class="blog-item">
                    <img src="./assets/space_station.png" alt="Space station" class="img">
                    <div class="blog-text">
                        <h2>New Space Station</h2>
                        <h4>
                            Jayden Houghton, 09-08-2023
                        </h4>
                        <p>
                            The NZSA has recently released it's plans for a New Zealand space station. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                            deserunt mollit anim id est laborum.
                        </p>
                        <a href="/post">Read More</a>
                    </div>
                </div>
                
                <div class="blog-item">
                    <img src="./assets/cat.jpg" alt="Cat" class="img">
                    <div class="blog-text">
                        <h2>Cute Cat Being Cute</h2>
                        <h4>
                            Jay Anuwatmatee, 15-09-2023
                        </h4>
                        <p>
                            Taffle the cat has been caught on camera being cute.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                            deserunt mollit anim id est laborum.
                        </p>
                        <a href="/post">Read More</a>
                    </div>
                </div>
            </div>
        </article>

        <div class="footer">
            <p>Developed by Jayden Houghton and Jay Anuwatmatee, WEB601 2023</p>
        </div>
        <script src="" async defer></script>
    </body>
</html>