body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}


/* <-------- Header --------> */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FD4556;
    color: white;
    padding: 10px 20px;
    margin: 0;
}
.header h1 {
    margin: 0;
}


/* <-------- Nav --------> */
.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    padding: 10px;
}
.nav-item a {
    color: white;
    text-decoration: none;
}
.nav-item a:hover {
    color: blue;
    text-decoration: underline;
}
.nav-item a:visited {
    color: white;
}


/* <-------- Blog Body --------> */

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 20px;
    margin: 0;
    gap: 40px;
}

#blog-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 40px;
    gap: 40px;
}

#blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

article h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0 0 0;
}

article h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 20px 0;
}

.img {
    width: 80%;
    height: auto;
    border: 2px solid black;
    margin: 20px;
}

p {
    margin: 20px 0 10px 0;
}


/* <-------- Comment Section --------> */

#comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px 20px;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

#comment-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

#comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    gap: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    color: black;
    padding: 10px 20px;
    background-color: rgba(253, 69, 86, 0.2);
    border-radius: 10px;
    width: 100%;
}

.comment-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black;
    width: 100%;
    gap: 20px;
}
.comment-top h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.comment-top p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

#comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: black;
    background-color: rgba(253, 69, 86, 0.2);
    border-radius: 10px;
    margin: 0;
    padding: 10px 20px;
}
#comment-form h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
#comment-form textarea {
    width: 80%;
    height: 54px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}







/* <-------- Footer --------> */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FD4556;
    color: white;
    padding: 0 20px;
    margin: 0;
}
